init:
  - ECHO %PYTHON%

version: '{build}'

environment:
  matrix:
    - PYTHON: C:/Python37
    - PYTHON: C:/Python37-x64
    - PYTHON: C:/Python36
    - PYTHON: C:/Python36-x64

install:
  - "%PYTHON%/python.exe -m pip install ." 

build: off

test_script:
  - "%PYTHON%/python.exe -m unittest -v tests"
