astroid==2.6.2
attribution==1.5.2
black==21.7b0
codecov==2.1.11
coverage==5.5
flit==3.2.0
mypy==0.910
pylint==2.9.3
python-coveralls==2.9.3
sphinx==4.1.1
usort==0.6.4
uvloop==0.14.0; python_version < "3.7" and sys_platform != "win32"  # pyup: ignore
uvloop==0.15.2; python_version >= "3.7" and sys_platform != "win32"
git+https://github.com/miyakogi/m2r@66f4a5a500cdd9fc59085106bff082c9cadafaf3
