attribution==1.5.2
black==21.12b0
codecov==2.1.12
coverage==6.2
flake8==4.0.1
flake8-bugbear==21.11.29
flit==3.5.1
mypy==0.910
python-coveralls==2.9.3
sphinx==4.3.2
sphinx-mdinclude==0.4.0b1
usort==1.0.0rc1
uvloop==0.14.0; python_version < "3.7" and sys_platform != "win32"  # pyup: ignore
uvloop==0.16.0; python_version >= "3.7" and sys_platform != "win32"
